@namespace blazormaterialise
@inherits js_base



<li class="show @_active">
    <div class="collapsible-header @Class @Backcolor @Textcolor">
        @if(!string.IsNullOrEmpty(Icon)){
            <i class="material-icons">@Icon</i>
        }
    @Title</div>
    <div class="collapsible-body">@ChildContent</div>
</li>

@code{
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string Icon {get;set;}="";
    [Parameter]
    public string Title{get;set;}="";

    [Parameter]
    public Boolean Active{get;set;}= false;
    private string show="";
    private string _active = "";

    protected override async Task OnAfterRenderAsync (bool firstRender) {
        await base.OnAfterRenderAsync (firstRender);       
        
        if(Active){
            _active = "active";
        }
    }

    protected override void OnInitialized(){
        
        
    }
}