@namespace blazormaterialise
@inject IJSRuntime JSRuntime;


 <div class="input-field col s12">
    <select @onchange="Change">
        @if(Items != null){
            @foreach (var item in Items)
            {
                if(item.Value == Value){
                    <option value="@item.Value" selected>@item.Text</option>
                }else{
                    <option value="@item.Value">@item.Text</option>
                }
            }
        }      
    </select>
    <label>@Label</label>
  </div>


@code{
    [Parameter]
    public structure_select[] Items { get; set; }

    [Parameter]
    public string Label { get; set; } = "";
    [Parameter]
    public string Value { get; set; } = "";
    [Parameter]
    public EventCallback<string> Onchange { get; set; }

          protected override async Task OnAfterRenderAsync (bool firstRender) {
        await base.OnAfterRenderAsync (firstRender);
        
        await JSRuntime.InvokeVoidAsync("select_init");
        
    }   

    protected void Change (ChangeEventArgs e) {
        Onchange.InvokeAsync ((string) e.Value);
    }

    
}