@namespace blazormaterialise
@inject IJSRuntime JSRuntime;
@inherits css_base



  <nav class="@Class @dim" id="@Id" r>
    <div class="nav-wrapper">
      <div class="col s12">
          @if(Items != null){
              @foreach (var item in Items)
              {
                  <a href="@item.href" class="breadcrumb @item.Class">@item.name</a>
              }
          }      
      </div>
    </div>
  </nav>

@code{

    [Parameter]
    public structure_breadcrumbs[] Items {get;set;}

    private string dim="";

    protected override void OnInitialized(){
        dim += blazormaterialise.show.get_show(Visibility) + " ";
        dim += color.get_backcolor(color.get_color(Backcolor)) + " ";
        dim += color.get_Textcolor(color.get_color(Textcolor)) + " ";

    }
}